h1 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

h2 {
  margin: 15px 0;
}

h2 .current-temperature {
  font-size: 42px;
  line-height: 50px;
}
h2 .temp-unit {
  font-size: 22px;
  line-height: 1;
  position: relative;
  top: -16px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  margin: 10px 0;
  text-transform: capitalize;
}

p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 200;
  margin-bottom: 5px;
}

img {
  max-width: 100%;
}

ul {
  padding: 40px 0 30px;
}

footer a {
  color: #333333;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer {
  font-size: 12px;
  line-height: 15px;
  font-weight: 200;
  margin-top: 20px;
}

.weather-app {
  width: 400px;
  max-width: 100%;
  display: block;
  margin: 40px auto;
  background: #f1b963;
  border-radius: 5px;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 45px 30px;
  text-align: center;
}

.date {
  margin: 15px 0;
}

.week-temperature {
  font-weight: 300;
}

.hero-image {
  width: 100px;
}

.filter-white {
  filter: invert(99%) sepia(53%) saturate(2%) hue-rotate(94deg) brightness(113%)
    contrast(100%);
}

.list-images {
  width: 50px;
  margin: 5px;
}

.btn-outline-secondary {
  border-color: white;
  color: white;
  font-size: 15px;
  transition: all 200ms ease-in-out;
}

.btn-outline-secondary:hover {
  border-color: white;
  background-color: white;
  color: #333333;
}
